<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content />
        <meta name="author" content />
        <title>SAMMS</title>
        <link rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" />
        <link
            href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
            rel="stylesheet" />
        <link href="{{ url_for('static', filename='css/sb-admin-2.min.css') }}"
            rel="stylesheet" />
        <link href="https://unpkg.com/aos@2.3.1/dist/aos.css"
            rel="stylesheet" />
    </head>

    <body id="page-top">
        <div id="wrapper">
            <ul
                class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion"
                id="accordionSidebar"
                data-aos="fade-right">
                <a
                    class="sidebar-brand d-flex align-items-center justify-content-center"
                    href="{{url_for('home')}}">
                    <div class="sidebar-brand-text mx-3">SAMMS</div>
                </a>
                <hr class="sidebar-divider my-0" />
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('student_home')}}">
                        <i class="fas fa-fw fa-home"></i>
                        <span>Dashboard</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link collapsed"
                        href="{{url_for('student_subjects')}}">
                        <i class="fas fa-fw fa-cog"></i>
                        <span>subjects</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link collapsed"
                        href="{{url_for('sprofile')}}">
                        <i class="fas fa-fw fa-wrench"></i>
                        <span>profile</span>
                    </a>
                </li>
                  </li>
                      <li class="nav-item">
                       
                    <a class="nav-link collapsed"
                        href="{{url_for('student_logout')}}">
                        <i class="fas fa-fw fa-right"></i>
                        <span>logout</span>
                    </a>
                </li>
                <div class="text-center d-none d-md-inline">
                    <button class="rounded-circle border-0"
                        id="sidebarToggle"></button>
                </div>

            </ul>

            <div id="content-wrapper" class="d-flex flex-column">
                <div id="content">
                    <!-- nav -->
                    <nav
                        class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow breadcrumb">

                        <!-- Sidebar Toggle (Topbar) -->
                        <button id="sidebarToggleTop"
                            class="btn btn-link d-md-none rounded-circle mr-3">
                            <i class="fa fa-bars"></i>
                        </button>
                        <ol class="breadcrumb">

                            <li class="breadcrumb-item"><a
                                    href="{{url_for('home')}}">SAMMS</a></li>
                            <li class="breadcrumb-item"><a
                                    href="{{url_for('student_subjects')}}">Student
                                    -
                                    Subjects</a></li>

                        </ol>
                     
                    </nav>
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-xl-12 col-md-12"
                                data-aos="fade-right">
                                <table
                                    class="table table-striped table-hover">
                                    <thead>
                                        <tr>
                                            <th>
                                                <h4
                                                    class="text-gray-800">Code</h4>
                                            </th>
                                            <th>
                                                <h4
                                                    class="text-gray-800">Name</h4>
                                            </th>
                                            <th>
                                                <h4
                                                    class="text-gray-800">Start</h4>
                                            </th>
                                            <th>
                                                <h4
                                                    class="text-gray-800">End</h4>
                                            </th>
                                            <th>
                                                <h4
                                                    class="text-gray-800">Grade</h4>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {%for subject in subjects%}
                                        <tr>
                                            <td>{{subject[2]}}</td>
                                            <td>{{subject[1]}}</td>
                                            <td>{{subject[3]}}</td>
                                            <td>{{subject[4]}}</td>
                                            <td>no grade</td>
                                        </tr>
                                        {%endfor%}
                                    </tbody>
                                </table>
                            </div>
                            <footer class="sticky-footer bg-white">
                                <div class="container my-auto">
                                    <div
                                        class="copyright text-center my-auto">
                                        <span>Copyright &copy; attendance
                                            monitoring management system
                                            2024</span>
                                    </div>
                                </div>
                            </footer>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.3/js/bootstrap.bundle.min.js"></script>
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
        <script
            src="{{ url_for('static', filename='js/sb-admin-2.min.js') }}"></script>
        <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
        <script>
            AOS.init();
             function edit(id) {
      document
        .querySelector(".addstu")
        .scrollIntoView({ behavior: "smooth", block: "start" });
      const elements = document.querySelectorAll(`#${id}`);
    document.getElementById("subject_id").value = elements[0].value;
      document.getElementById("subject_id").disabled=true;
      document.getElementById("sname").value = elements[1].value;
      document.getElementById("start").value = elements[2].value;
      document.getElementById("end").value = elements[3].value;
      document.getElementById("isedit").value = "True";
     
    }
        </script>
    </body>

</html>